* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */

.header {
    background-color: rgb(0, 0, 0);
}

.imglogo {
    object-fit: contain;
    width: 150px;
    background-color: transparent;
}

.nav-item {
    background-color: #f06292;
}

.nav-link {
    background-color: #d26037;
    color: #f5f5f5;
    font-family: 'Barlow', sans-serif;
}

.active {
    background-color: #aaaaaa;
    color: #ee98fb;
}

.nav-link:hover {
    background: linear-gradient(to right, rgb(255, 77, 0), rgb(207, 137, 39) 31%, rgb(242, 187, 120) 52%, rgb(232, 114, 29) 77%, rgb(255, 0, 0), rgb(255, 98, 0)) 0% 50% / 200% 50%;
    color: #f5f5f5;
}

/* Main */

main{
    background-color: #2c2e30;
}

video {
    width: 100%;
}

.img-main {
    border-radius: 30px;
    width: 400px;
    background-size: cover;  
}

.img-main:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

h2 {
    text-align: center;
    color: #FF6600;
}

h3 {
    text-align: center;
    color: #ff983f;
}

.texto-main {
    text-align: center;
    color: #f5f5f5;
}

/* Vinilos */
.main-container {
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 365px;
    height: 35em;
    padding: .8em;
    background: #eeeeee;
    position: relative;
    overflow: visible;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0 2px 4px rgba(238, 104, 15, 0.692), 0 2px 4px rgba(247, 167, 62, 0.692);
}

.card-img {
    height: 250px;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    object-fit: cover;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
    border-top: 1px solid #ddd;
    background-color: transparent;
}

/*Text*/
.text-title {
    font-weight: 900;
    color: #FF6600;
    font-size: 0.9em;
    line-height: 1.2;
}

.text-body {
    font-size: .8em;
    border-radius: .3em;
    color: #373737 !important;
}

.card-img:hover {
    transform: translateY(-5%);
    box-shadow: rgba(255, 127, 7, 0.25) 0px 13px 47px -5px, rgba(255, 111, 8, 0.486) 0px 8px 16px -8px;
}


/* Carrito */





/* Footer */

.footer-container {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.footer-container h3 {
    color: #d26037;
}

.redes-img {
    width: 2em;
}

.logo-footer {
    width: 15em;
}

.footer-container2 {
    background-color: #393E46;
}

.map {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.map-text img {
    width: 1.4em;
}

.map-text a {
    text-decoration: none;
    color: #3b4a51;
}

.map-text {
    line-height: 1em;
}

.imputNumber {
    width: 4.2em;
}