* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */

.header {
    background-color: rgb(0, 0, 0);
}

.imglogo {
    object-fit: contain;
    width: 150px;
    background-color: transparent;
}

.nav-item {
    background-color: #f06292;
}

.nav-link {
    background-color: #d26037;
    color: #f5f5f5;
    font-family: 'Barlow', sans-serif;
}

.active {
    background-color: #aaaaaa;
    color: #ee98fb;
}

.nav-link:hover {
    background: linear-gradient(to right, rgb(255, 77, 0), rgb(207, 137, 39) 31%, rgb(242, 187, 120) 52%, rgb(232, 114, 29) 77%, rgb(255, 0, 0), rgb(255, 98, 0)) 0% 50% / 200% 50%;
    color: #f5f5f5;
}

/* Main */

main{
    background-color: #2c2e30;
}

video {
    width: 100%;
}

.img-main {
    border-radius: 30px;
    width: 400px;
    background-size: cover;  
}

.img-main:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

h2 {
    text-align: center;
    color: #FF6600;
}

h3 {
    text-align: center;
    color: #ff983f;
}

.texto-main {
    text-align: center;
    color: #f5f5f5;
}

/* Footer */

.footer-container {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.footer-container h3 {
    color: #d26037;
}

.redes-img {
    width: 2em;
}

.logo-footer {
    width: 15em;
}

.footer-container2 {
    background-color: #393E46;
}

.map {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.map-text img {
    width: 1.4em;
}

.map-text a {
    text-decoration: none;
    color: #3b4a51;
}

.map-text {
    line-height: 1em;
}

.imputNumber {
    width: 4.2em;
}